/* Style for text */
.custom-text {
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
}

/* General style for icons */
.custom-icon {
    font-size: 2rem; /* Reduces the size of icons in general */
}

/* Special style for the "fa-user-circle" icon */
.user-circle-icon {
    font-size: 4rem; /* The size of the "fa-user-circle" icon remains large */
}

/* Animation for icons */
.animated-icon {
    animation: bounce 1s infinite;
}

/* Style for dark mode */
.dark-mode {
    background-color: #1f2937;
    color: #f9fafb;
}